body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  @apply rounded-md border border-slate-800 px-4 py-2 hover:border-red-400 active:scale-90 bg-gray-800 text-white transition-transform duration-500 shadow-xl shadow-slate-600;
}

.logo {
  height: 60px;
}

.text-radient {
  background: linear-gradient(#831f0b, #dcd27f);
  background-clip: text;
  color: transparent;
}

.life {
  background-color: red;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.error {
  margin-top: 0.25rem;
  color: #f65157;
}

/* Navigation */
.nav-nolink-home {
  font-weight: 500;
  color: rgb(63 131 248 / 1);
  padding: 12px 6px;
}
.nav-nolink-home:hover {
  color: rgb(30 66 159 / 1);
}

.nav-link-home {
  font-weight: 500;
  color: rgb(74, 129, 248);
  background-color: #171717;
  padding: 12px 6px;
}
.nav-link-home:hover {
  color: rgb(30 66 159 / 1);
}

.nav-nolink {
  font-weight: 500;
  color: white;
  padding: 12px 6px;
}

.nav-nolink:hover {
  color: rgb(223, 224, 226);
}

.nav-link {
  background-color: #171717;
  padding: 12px 6px;
  font-weight: 500;
  color: white;
}

.nav-link:hover {
  color: rgb(223, 224, 226);
}

.menu-encart {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: gray;
  display: flex;
  flex-direction: column;
}

/* Modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  display: flex;
  align-items: center;
}

.modal {
  z-index: 100;
  background: #fff;
  position: relative;
  margin: auto;
  border-radius: 5px;
  max-width: 500px;
  width: 80%;
  padding: 1rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid grey;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid grey;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  border: none;
  background: transparent;
}

/* Inputs */
.input-login {
  border: 0;
  outline: 0;
  background: transparent;
}

.input-login:focus,
.input-login:active {
  border: 0;
  border-color: transparent;
  outline: none;
}

/* generic */

.disable {
  opacity: 0.4;
  pointer-events: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.menu-dropdown {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
}

/* Tic tac toe */
.tic-tac-toe :nth-child(3n + 0) {
  border-right: 0px;
}

.tic-tac-toe :nth-child(n + 7) {
  border-bottom: 0px;
}
